form#invite_signup div#email_group ul {
  margin: 0 0 0 20px; }
form#invite_signup div#email_group div.span8 {
  margin-left: 0px; }

div#invite_instructions {
  text-align: center;
  font-weight: bold;
  /*color: #ff0000;*/ }

ul {
  margin: 0px; }

#invite_action {
  text-align: right; }

form.single_action input[type="submit"] {
  margin-left: 210px !important; }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */

