<% provide(:title, 'User Dashboard') %>
<h1>User#dashboard</h1>
<p>Find me in app/views/user/dashboard.html.erb</p>
<%= link_to "Create Program", new_program_path %>
<%= link_to "Edit Programs", programs_path %>
<%= link_to I18n.t('invitations.form.buttons.invite_users'), invite_users_type_path %>
