- provide(:title, 'User Dashboard')
%h1 User#dashboard
%ul
  %li= link_to "Create Program", new_program_path
  %li= link_to "Edit Programs", programs_path
  %li= link_to "Invite Users", new_invitation_path
