<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to trio.com, You were sent an invitation from <%= @sender_email %></h1>
    Click the following link to view the invitation: <a href="#"><%= t('invitations.email.terms.view_invitation')%></a> 
    <span>Code is: <%= @invitation_code %></span>
  </body>
</html>