form#review_invitations div#email_group ul {
  margin: 0 0 0 20px; }
form#review_invitations div#email_group div.span8 {
  margin-left: 0px; }

div#review_instructions {
  text-align: center;
  font-weight: bold; }

ul {
  margin: 0px; }

table#student_entries {
  margin-bottom: 0px; }
  table#student_entries th {
    vertical-align: text-top;
    padding-top: 0px;
    text-align: left;
    padding-left: 20px; }

#invitation_action {
  text-align: right; }

ul#review_email_addresses {
  padding-left: 0px;
  padding-top: 7px; }
