- content_for :head do
  = javascript_include_tag "forms"
  = javascript_include_tag "invitations"

- if @invitation.user_level == ConstantsHelper::ROLE_LEVEL_STUDENT
  = render 'form_invite_users_address_students'
- else
  = render 'form_invite_users_address_non_students'