.navbar.navbar-default.navbar-fixed-top.navbar-inverse{:role => "navigation"}
  %ul.nav.navbar-nav.navbar-left
    %li= link_to t('terms.project_name'), "#" 
    %li= link_to "Out there", "#"
  %ul.nav.navbar-nav.navbar-right#parent-right
    %li.dropdown
      %a.dropdown-toggle{:href => "#", 'data-toggle' => 'dropdown'}
        Dropdown 
        %b.caret
      %ul.dropdown-menu
        %li
          %a{:href => "#{programs_path}"} Programs
          %a{:href => '#'} Admin
          %a{:href => '#'} Staff
          %a{:href => '#'} Students
    %li= link_to "Out there", "#"
      

-#.navbar.navbar-fixed-top.navbar-inverse
-#  .navbar-inner
-#    .container
-#      = link_to "sample app", root_path, id: "logo"
-#      %nav
-#        %ul.nav.pull-right
-#          %li= link_to "Help", help_path
-#          - if user_signed_in?
-#            %li.dropdown#fat-menu
-#              %a.dropdown-toggle(href="#" data-toggle="dropdown") 
-#                Dashboard
-#                %b.caret
-#              %ul.dropdown-menu
-#                %li= link_to "Dashboard Home", dashboard_path
-#                %li.divider
-#                %li= link_to "Programs", programs_path 
-#                %li= link_to "Admin", "#"
-#                %li= link_to "Staff", "#" 
-#                %li= link_to "Students", "#"
-#            %li.dropdown#fat-menu
-#              %a.dropdown-toggle(href="#" data-toggle="dropdown")
-#                = current_user.email 
-#                %b.caret
-#              %ul.dropdown-menu
-#                %li= link_to "Edit profile", edit_user_registration_path 
-#                %li.divider
-#                %li= link_to "Sign out", destroy_user_session_path, method: "delete"
-#          - else
-#            %li= link_to "Sign up", new_user_registration_path 
-#            %li= link_to "Login", new_user_session_path 

-#- if user_signed_in?
-#  .navbar#navbar_sub
-#    .navbar-inner
-#      .container#navbar_sub_container
-#        %nav
-#          %ul.nav.pull-right
-#            %li= link_to "Some User Function", "#" 
